.header {
  background: var(--Yellow-Light);
  width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px 0;
}

/* Thanh navigation chính */
.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo ở bên trái, chữ ở dưới logo */
.logo-header {
  display: flex;
  flex-direction: column; /* <-- để chữ nằm dưới logo */
  align-items: center;
  gap: 6px;
}

.logo-header img {
  width: 40px;
  height: 40px;
}

.logo-header p {
  color: var(--Dark);
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

.logo-header span {
  display: block;
  font-size: 12px;
  font-weight: 400;
}

/* Menu điều hướng ở giữa */
nav ul {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
}

nav ul li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
}

nav ul li a {
  text-decoration: none;
  color: var(--Dark);
  font-family: var(--second-font);
  font-weight: 500;
  font-size: 16px;
}

nav ul li img {
  width: 10px;
  height: 10px;
}

/* Số điện thoại ở bên phải */
.phone-number {
  font-weight: 700;
  font-size: 16px;
  color: var(--Dark);
}

/* Giãn cách nhỏ giữa menu và phần call */
nav ul p {
  margin-left: 30px;
}
